# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec

# Datos de medida (no se versionan)
medidas/
datos_salida/

# IDE
.vscode/
.idea/
*.suo
*.user

# Windows
Thumbs.db
desktop.ini

# Logs temporales
*.log
